---
name: Lint Code

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Lint
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test1:
    name: Test Full
    needs: lint
    uses: pyanodon/pyanodontests/.github/workflows/pytest.yml@main
    with:
      test_ref: main
    secrets: inherit
  test2:
    name: Test PyAl
    needs: lint
    uses: pyanodon/pyanodontests/.github/workflows/pytest.yml@main
    with:
      repository: "pyanodon/pyalienlife"
      ref: "master"
      test_ref: main
    secrets: inherit
